body {
    margin: 0;
    padding: 0;
}

.box1 {
    width: 300px;
    height: 80px;
    background-color: red;
    color: black;
    font-size: 14px;
    padding-top: 20px;
    position: relative;
}

.box2 {

    width: 300px;
    height: 120px;
    /* background-color: seagreen; */
    position: relative;

}

.box2>.left {
    padding-top: 10px;
    width: 80px;
    height: 120px;
    background-color: white;
    color: black;
    font-size: 14px;
}

.box2>.center {
    padding-top: 10px;
    width: 120px;
    height: 120px;
    background-color: violet;
    color: black;
    font-size: 14px;
    margin-top: -130px;
    margin-left: 80px;
}

.box2>.right {
    padding-top: 10px;
    width: 100px;
    height: 120px;
    background-color: yellow;
    float: right;
    color: black;
    font-size: 14px;
    margin-top: -130px;
}

.box3 {
    width: 300px;
    height: 100px;
    color: black;
    padding-top: 30px;
    font-size: 14px;
    background-color: sienna;
}