
div{
  position: relative;
  overflow: hidden;
  font-size: 120px;
  font-weight: 600;
  color: transparent;

}
div::after{
  content: "hello world";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 99em;
  background-image: -webkit-linear-gradient(
    left,
        #D1EEFF 0%,
        #8974ED 5%,
        #78CC5D 10%,
        #888858 15%,
        #53B9FD 20%,
        #083188 25%,
        #ED789E 30%,
        #18C509 35%,
        #0A997D 40%,
        #6CF733 45%,
        #DD4046 50%,
        #8F3F3C 55%,
        #C5D359 60%,
        #FEBAC6 65%,
        #50BEFB 70%,
        #3A495A 75%,
        #D02721 80%,
        #FAFB92 85%,
        #0DAF53 90%,
        #6EFDB0 95%,
        #50BEFB 100%
  );
  -webkit-background-clip:text;
  color:transparent;
  animation:hello 38s ease infinite;
}
@keyframes hello {
  0%{
    background-position: 0 0;
  }
  25%{
    background-position: -25em 0;
  }
  50%{
    background-position: -50em 0;

  }
  75%{
    background-position: -75em 0;

  }
  100%{
    background-position: -99em 0;

  }
}
